# linting
flake8
flake8_docstrings

# testing
pytest
pytest-gitignore # excludes gitignored files from pytest scope

# leuchtturm pipeline
pyspark
langdetect
numpy
#talon
python-dateutil
spacy
#git+https://www.github.com/farizrahman4u/keras-contrib.git
#keras
#tensorflow
#sklearn

# db tasks
hdfs
pysolr
neo4j-driver
