flake8
flake8_docstrings
pytest
pytest-gitignore  # excludes gitignored files from pytest scope
pyspark
html2text
dateparser
langdetect
gensim
spacy
# python -m spacy download en_core_web_sm
textacy
matplotlib
numpy
keras
git+https://www.github.com/keras-team/keras-contrib.git
sklearn
tensorflow
networkx
h5py
pandas
pysolr
py2neo
nltk
talon
regex
pandas
dill
nltk  # IMPORTANT download nltk data via "conda install -c conda-forge nltk_data" or "python -m nltk.downloader all"
# import nltk
# nltk.download('stopwords')
# nltk.download('punkt')
# nltk.download('wordnet')
ujson